body {background:#edf2ff}
body {background:#EDF2FF;font-family: Verdana, Arial, Helvetica, sans-serif; color: #4D65A0}
h1, h2 {margin: 0}
p {margin-top: 0; margin-bottom: 12px; font-size: 12px; line-height: 1.2}
img {float: left; padding-right: 10px}
h2 {border-top: 1px solid #4D65A0}
p.sales_info {font-style: italic}
div.postcard {padding: 15px}
div {clear: both}
img.odd {float: left;padding-right: 10px}
img.even {float: right; padding-left: 10px}