a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p:first-letter {
	font-weight: bold;
	font-size: 350%;
}

dt {
	font-size: 75%;
}

dl{
	color: #FFF86B;
	font-weight: bold;
}