body {
	background-image: url("background.gif");
	margin-left: 10%;
	margin-right: 10%;
}

#container{
	border: 5px white solid;
	background-color: white;
}

#header{
	background-color: #A8F0F0;
	text-align: right;
}

.date{
	border-bottom-style: dashed;
	border-bottom-width: 2px;
}

.entry{
	padding: 5px;
	border: 4px #C2E9E9 solid;
	border-radius: 15px;
	background-color: #E8FBFB;
	margin-top: 10px;
	text-align: justify;
}

.entry img {
	float: right;
}

.spacer{
	clear: right;
}

#header h2{
	font-size: 14px;
}